@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

:root {
    --clr-white: hsl(0, 0%, 100%);
    --clr-primary-violet: hsl(257, 40%, 49%);
    --clr-primary-magenta: hsl(300, 69%, 71%);

    --ff-base: 'Open Sans', sans-serif;
    --ff-poppins: 'Poppins', sans-serif;

    --fw-400: 400;
    --fw-600: 600;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    font-family: var(--ff-base);
    color: var(--clr-white);
    background-image: url(img/bg-desktop.svg);
    background-color: var(--clr-primary-violet);
    background-repeat: no-repeat;
    background-size: contain;
    display: grid;
    place-items: center;
    min-height: 100vh;
}

header {
    display: flex;
    width: 100%;
    max-width: 1300px;
    margin-top: 3.3rem;
}

.header-img {
    width: 215px;
}

.header-img:hover {
    cursor: pointer;
    opacity: 0.8;
}

section {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.img-container {
    width: 100%;
    padding-top: 5.5rem;
    padding-left: 4.5rem;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    height: 100%;
    width: 100%;
    gap: 1.25rem;
    padding: 8.125rem 3.65rem 0 3.25rem;
}

.content h1 {
    font-size: 2.6rem;
    font-family: var(--ff-poppins);
    font-weight: var(--fw-600);
    line-height: 1.5;
}

.content p {
    font-size: 1.15rem;
    line-height: 1.5;
    padding-bottom: 0.1875rem;
}

.content button {
    color: var(--clr-primary-violet);
    background-color: var(--clr-white);
    width: 202px;
    height: 58px;
    font-family: var(--ff-poppins);
    font-weight: var(--fw-400);
    font-size: 1.125rem;
    letter-spacing: 0.1px;
    padding-bottom: 0.2rem;
    border: 0;
    border-radius: 40px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    transition: all 500ms;
}

.content button:hover {
    cursor: pointer;
    color: var(--clr-white);
    background-color: var(--clr-primary-magenta);
}

footer {
    width: 100%;
    height: 100px;
    display: flex;
    gap: 1rem;
    justify-content: end;
    align-items: start;
    padding-top: 1rem;
    padding-right: 5rem;
}

footer .row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
    border: 2px solid var(--clr-white);
    border-radius: 50%;
}

footer .row:hover {
    cursor: pointer;
    color: var(--clr-primary-magenta);
    border: 2px solid var(--clr-primary-magenta);
}

@media (max-width: 1240px) {
    header {
        max-width: 1150px;
    }

    .img-container {
        padding-left: 2rem;
    }

    footer {
        height: 120px;
        align-items: center;
    }
}

@media (max-width: 1200px) {
    .img-container img {
        width: 100%;
    }
}

@media (max-width: 1140px) {
    header {
        max-width: 1080px;
    }

    .content h1 {
        font-size: 2.25rem;
    }

    .content p {
        font-size: 1.05rem;
        padding-bottom: 0.2rem;
    }
}

@media (max-width: 1080px) {
    .img-container {
        padding-top: 2rem;
    }

    .content {
        padding: 4rem 2rem 0 2rem;
    }

    .content h1 {
        font-size: 2rem;
    }

    .content p {
        font-size: 1rem;
    }

    .content button {
        width: 165px;
        height: 45px;
        font-size: 1.12rem;
    }

    footer {
        height: 70px;
        padding-top: 0;
    }
}

@media (max-width: 960px) {
    header {
        margin-top: 1.5rem;
    }

    .img-container {
        padding-top: 1.5rem;
    }

    .content {
        padding-top: 1.5rem;
    }

    .content h1 {
        font-size: 1.9rem;
    }

    .content button {
        width: 150px;
        height: 45px;
        font-size: 1.1rem;
    }
}

@media (max-width: 810px) {
    body {
        background-image: url(img/bg-mobile.svg);
    }

    header {
        max-width: 100%;
        padding: 0 2rem;
        margin-top: 2rem;
    }

    .header-img {
        width: 160px;
    }

    section {
        grid-template-columns: 1fr;
        gap: 3rem;
    }

    .img-container {
        padding-top: 4rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .content {
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 1.5rem;
        padding: 1rem 2rem 4rem;
    }

    .content h1 {
        font-size: 1.7rem;
    }

    .content button {
        width: 200px;
        height: 50px;
        font-size: 1rem;
    }

    footer {
        height: 100px;
        justify-content: center;
        align-items: center;
        padding: 1rem 0;
    }

    footer .row {
        justify-content: center;
        align-items: center;
    }
}
